@import url("https://fonts.googleapis.com/css?family=Cinzel");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

/* HEADER */



a:hover{
    background: #F6B042;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Cinzel, serif;
    font-size: 15px;
    padding: 10px;
    transition: all 250ms linear 0s;
}

header .container img{
    height: 50px;
}

.container{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center ;
    background-color: #533549;
    justify-content: space-between;
}

.menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#btn-mobile{
    display: none;
   
}

footer{
    display: flex; 
    justify-content:space-between ;
    padding: 0px;
    width: 100%;
    color: #F6B042;
    background-color: #533549;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    flex-wrap: wrap;
}

button{
    justify-content: center;
    padding: 70px;
    width: 100%;
    color: #F6B042;
    background-color: #533549;  
    border-style: none;
    font-family: Cinzel, serif;
    color: white;
    text-transform: uppercase;
}

a{
    color: white;
    text-transform: uppercase;
    transition: all 250ms linear 0s;
    

}

address{
    justify-content: center;
    padding: 50px;
}
