/*HEADER NAV*/

@media (max-width: 1000px){


   

#btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}

#hamburguer{
  display: block;
  color: #F6B042;
  border-top: 2px solid;
  width: 20px;  
}

#hamburguer::after, #hamburguer::before{
 content: '';
 display: block;  
 width: 20px;
 height: 2px;
 background: currentColor; 
 margin-top: 5px;
 transition: .3s;
 position: relative;
}

#container-nav.active #hamburguer{
   border-top: none;   
}

#container-nav.active #hamburguer::before{
   transform: rotate(135deg);   
}

#container-nav.active #hamburguer::after{
  transform: rotate(-135deg);
  top: -7px; /* Para alinhar o X. No entanto, precisa do position Relative em 
                #hamburguer::after, #hamburguer::before para funcionar */
}

#container-nav{
    margin-bottom: 6px;
}

.menu{
    display: none;
    position: absolute;
    margin-top: 22px;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    left: 100%;
    transform: translateX(100vw);
    transition: 0.5s ease transform;
}

.menu>li {
    
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 100%;
    color: #F6B042;
    background-color: #533549;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.menu li a {
    flex: 1;
    text-align: center;
}


#container-nav.active .menu{
    display: block;
    transform: translateX(-100vw);
    transition: 0.5s ease transform;
    
}


}

@media (max-width: 780px){ 

    #btn-footer{
    display: none;
     
 }


 /*TESTANDO MEDIA */

   
 .flex-container {
    display: block;        
}
.item {
    display: block;
}
.frases-efeito {
    width: 100%;
    flex-wrap: wrap;
}

#item1 div, #item3 div, #item5 div {
    height: 400px;
    width: 100%;    
    justify-content: center;
    align-items: center;   
    background-color: #533549;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


article .frases-efeito {
    flex-direction: column;
    
}

.frases-efeito {
    width: 100%;
}


#item1 div {
     width: 100%; 
    background-size: fill;
    height: 400px;
}

#slogan h1 {
    height: 200px;
    width: 100%;            
    display: inherit;
    padding: 20px;
    text-align: center;        
    font-family: "cinzel", sans-serif;
    border: solid 1px #f6b042;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;       
    
}

.button {
    display:inline-block;
    background-color:#000;
    color: #f6b042; 
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    padding:10px 30px;
    margin-top:30px;
    margin-left: 70px;
    border-radius:20px; 
    font-family: "cinzel", sans-serif;
    align-content: center;  
}

.frases-efeito h3, legend {
font-size: 1rem;
padding: 18px;
line-height: 1.8 ;
font-family: "cinzel", sans-serif;
text-align: center;   
}


}

@media (max-width: 600px){ 

    
    #address-footer{
        font-size: 12px;
        margin-top: 40px;   
    }
 

}

@media (max-width: 400px){ 

    
    #address-footer{
        font-size: 9px;
        margin-top: 30px;   
    }

    #footer img{
        height: 100px;
        margin-left: 5px;
    } 

       
    .flex-container {
        display: block;        
    }
    .item {
        display: block;
    }
    .frases-efeito {
        width: 100%;
        flex-wrap: wrap;
    }
    
    #item1 div, #item3 div, #item5 div {
        height: 400px;
        width: 100%;    
        justify-content: center;
        align-items: center;   
        background-color: #533549;    
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }
    

    article .frases-efeito {
        flex-direction: column;
        
    }

    .frases-efeito {
        width: 100%;
    }

    
    #item1 div {
         width: 100%; 
        background-size: fill;
        height: 400px;
    }

    #slogan h1 {
        height: 200px;
        width: 100%;            
        display: inherit;
        padding: 20px;
        text-align: center;        
        font-family: "cinzel", sans-serif;
        border: solid 1px #f6b042;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 1rem;       
        
    }

    .button {
        display:inline-block;
        background-color:#000;
        color: #f6b042; 
        text-transform: uppercase;
        font-size:12px;
        font-weight:600;
        text-decoration: none;
        padding:10px 30px;
        margin-top:30px;
        margin-left: 70px;
        border-radius:20px; 
        font-family: "cinzel", sans-serif;
        align-content: center;
        
    
}

#btn-Saiba{
    padding-left: 60px !important;
}

.frases-efeito h3, legend {
    font-size: 1rem;
    padding: 18px;
    line-height: 1.8 ;
    font-family: "cinzel", sans-serif;
    text-align: center;   
}

}
