@import url("https://fonts.googleapis.com/css?family=Cinzel");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "cinzel", serif;
}


/* HEADER */



nav a:hover{
    background: #F6B042;
  
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "cinzel", serif;
    font-size: 15px;
    padding: 10px;
    transition: all 350ms linear 0s;
    
}

header .container img{
    height: 50px;
}

.container{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center ;
    background-color: #533549;
    justify-content: space-between;
}

.menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#btn-mobile{
    display: none;
   
}

#btn-mainpage{
    opacity: 0;
    position: fixed;
    cursor:pointer;
    margin-top: -17px;
    left: 34px;
    height: 40px;
    width: 240px; 
   
} 

@media (max-width: 1000px){

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    
    #hamburguer{
      display: block;
      color: #F6B042;
      border-top: 2px solid;
      width: 20px;  
    }
    
    #hamburguer::after, #hamburguer::before{
     content: '';
     display: block;  
     width: 20px;
     height: 2px;
     background: currentColor; 
     margin-top: 5px;
     transition: .3s;
     position: relative;
    }
    
    #container-nav.active #hamburguer{
       border-top: none;   
    }
    
    #container-nav.active #hamburguer::before{
       transform: rotate(135deg);   
    }
    
    #container-nav.active #hamburguer::after{
      transform: rotate(-135deg);
      top: -7px; /* Para alinhar o X. No entanto, precisa do position Relative em 
                    #hamburguer::after, #hamburguer::before para funcionar */
    }
    
    #container-nav{
        margin-bottom: 6px;
    }
    
    .menu{
        display: none;
        position: absolute;
        margin-top: 22px;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        left: 100%;
        transform: translateX(100vw);
        transition: 0.5s ease transform;
    }
    
    .menu>li {
        
        display: flex;
        justify-content: center;
        padding: 0px;
        width: 100%;
        color: #F6B042;
        background-color: #533549;
        border-radius: 5px;
        border: 1px solid whitesmoke;
    }
    
    .menu li a {
        flex: 1;
        text-align: center;
    }
    
    
    #container-nav.active .menu{
        display: block;
        transform: translateX(-100vw);
        transition: 0.5s ease transform;
        
    }
    
    
    }

/*FOOTER*/


footer{
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0px;
    color: #F6B042;
    background-color:#533549;
    bottom: 0;
    position: relative;
    margin-top: 20px;
}



#footer img{
    height: 136px;
    margin-left: 20px;
}

#btn-footer{   
    width: 190px;
    background-color:#F6B042;
    border-style:none;
    border-radius: 10px;
    font-family: "cinzel",sans-serif; 
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 60px;
}

#div-footer a{
    color:#533549;
    text-transform: uppercase;
    text-decoration: none;
}

#address-footer{
    font-family: "cinzel", serif;
    align-items: center;
    font-size: 15px;
    margin-top: 38px;

}

@media (max-width: 780px){ 

    #btn-footer{
    display: none;
     
 }

}

@media (max-width: 600px){ 

    
    #address-footer{
        font-size: 12px;
        margin-top: 40px;   
    }
 

}

@media (max-width: 400px){ 

    
    #address-footer{
        font-size: 9px;
        margin-top: 30px;   
    }

    #footer img{
        height: 100px;
        margin-left: 5px;
        } 

}

/*MAIN*/



#simulador div {
    margin: 39px;
}

#simulador button :hover {
    cursor: pointer;
}

#simulador button {
    padding: 20px 40px;
    font-size: 18px;
    margin-bottom: 13px;
    border-radius: 20px;
    width: auto;
}

#simulador {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    flex-direction: column;
} 

#simulador input {
    width: 160px;
    padding-left: 15px;
    font-size: 18px;
    height: 30px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid hsl(0, 55%, 38%);
}

#simulador select {
    width: 160px;
    padding-left: 15px;
    font-size: 18px;
    height: 30px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid hsl(0, 55%, 38%);
}

#simulador label {
    font-size: 20px;
}


table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
}

tr:nth-child(even){
    background-color: #533549;
    color: white;
}

@media (max-width: 1000px){
  
#simulador h1{
    font-size: 15px;
}

#simulador label{
    font-size: 15px;
}

#simulador table{
    font-size: 11px;

}

table, th, td{
    padding: 7px;
}


}
